<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="P3_Projekt_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><userSettings>
        <P3_Projekt_WPF.Properties.Settings>
            <setting name="PictureFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="IcecreamID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="local_or_remote" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lcl_ip" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="rmt_ip" serializeAs="String">
                <value>v-world.dk</value>
            </setting>
            <setting name="lcl_port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="rmt_port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="lcl_username" serializeAs="String">
                <value>P3</value>
            </setting>
            <setting name="lcl_password" serializeAs="String">
                <value>frankythefish</value>
            </setting>
            <setting name="rmt_password" serializeAs="String">
                <value />
            </setting>
            <setting name="lcl_db" serializeAs="String">
                <value>P3</value>
            </setting>
            <setting name="rmt_db" serializeAs="String">
                <value>P3</value>
            </setting>
            <setting name="rmt_username" serializeAs="String">
                <value />
            </setting>
        </P3_Projekt_WPF.Properties.Settings>
    </userSettings>
</configuration>