<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="P3_Projekt_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<userSettings>
        <P3_Projekt_WPF.Properties.Settings>
                <setting name="PictureFilePath" serializeAs="String">
                        <value />
                </setting>
                <setting name="local_or_remote" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="lcl_port" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="rmt_port" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="IcecreamProductID" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="QuickButton1" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton2" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton3" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton4" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton5" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton6" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton7" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton8" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton9" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton10" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton11" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton12" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton13" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton14" serializeAs="String">
                        <value />
                </setting>
                <setting name="lcl_ip" serializeAs="String">
                        <value />
                </setting>
                <setting name="lcl_username" serializeAs="String">
                        <value />
                </setting>
                <setting name="lcl_password" serializeAs="String">
                        <value />
                </setting>
                <setting name="lcl_db" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton15" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton16" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton17" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton18" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton19" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton20" serializeAs="String">
                        <value />
                </setting>
                <setting name="QuickButton21" serializeAs="String">
                        <value />
                </setting>
        </P3_Projekt_WPF.Properties.Settings>
    </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.4.0" newVersion="6.10.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>